<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<header><h1>Witaj w Naszym Dzienniku Elektronicznym!</h1>  <a href="/login">Log In</a></header>
<section>
    <h3>Zakety Dziennika Elektrycznego</h3>
    <div>
        Dzięki naszemu Dziennikowi Elektronicznemu możesz szybko sprawdzić oceny,<br>
        zadania domowe i terminy egzaminów. Otrzymuj powiadomienia na bieżąco i<br>
        utrzymuj kontakt z nauczycielami!<br>
    </div>
</section>
<hr>
<section>
    <h3>Rodzice i Opiekunowie</h3>
    <div>
        Rodzice i opiekunowie mają dostęp do specjalnych funkcji, <br>
        które pozwalają na śledzenie postępów swoich dzieci oraz <br>
        komunikację z nauczycielami. Zaprzyjaźnij się z naszym <br>
        Dziennikiem Elektronicznym już dziś<br>
    </div>
</section>
</body>
</html>